#code {
    width:100%;
    height:700px;
    border:1px solid #eee;
}
/*#textdiv{
    width:100%;
    height:700px;
    border:1px solid #eee;
}*/
#panel {
    width:100%;
    height:700px;
}
body{
    height:100vh;
}
#view{
    width:100%;
    height:700px;
}
.CodeMirror{
    border:1px solid #eee;
    height:auto;
}